<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pickcell">
  <!--
    Cell description using the maintained ROS 2 model of the KUKA
    KR 16 R2010-2. Robot dimensions, joint axes, joint limits and meshes live
    in kuka_cybertech_support; they are intentionally not duplicated here.
  -->
  <xacro:include filename="$(find kuka_cybertech_support)/urdf/kr16_r2010_2_macro.xacro"/>

  <xacro:arg name="robot_prefix" default=""/>
  <xacro:arg name="robot_mount_xyz" default="0 0 0"/>
  <xacro:arg name="robot_mount_rpy" default="0 0 0"/>
  <xacro:arg name="tcp_xyz" default="0 0 0"/>
  <xacro:arg name="tcp_rpy" default="0 0 0"/>
  <xacro:property name="prefix" value="$(arg robot_prefix)"/>

  <link name="world"/>
  <link name="cell"/>
  <joint name="world_to_cell" type="fixed">
    <parent link="world"/>
    <child link="cell"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- robot_base is the configurable mounting pose inside the cell. -->
  <link name="robot_base"/>
  <joint name="cell_to_robot_base" type="fixed">
    <parent link="cell"/>
    <child link="robot_base"/>
    <origin xyz="$(arg robot_mount_xyz)" rpy="$(arg robot_mount_rpy)"/>
  </joint>

  <xacro:kuka_kr16_r2010_2_robot
    prefix="${prefix}"
    package_name="kuka_cybertech_support"/>

  <joint name="robot_base_to_kuka_base_link" type="fixed">
    <parent link="robot_base"/>
    <child link="${prefix}base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- The TCP is configurable because it belongs to the future end effector. -->
  <link name="gripper_tcp"/>
  <joint name="tool0_to_gripper_tcp" type="fixed">
    <parent link="${prefix}tool0"/>
    <child link="gripper_tcp"/>
    <origin xyz="$(arg tcp_xyz)" rpy="$(arg tcp_rpy)"/>
  </joint>

  <link name="front_camera_link"/>
  <joint name="cell_to_front_camera" type="fixed">
    <parent link="cell"/>
    <child link="front_camera_link"/>
    <origin xyz="1.0 0 1.8" rpy="0 0 0"/>
  </joint>

  <link name="front_camera_optical_frame"/>
  <joint name="camera_to_optical" type="fixed">
    <parent link="front_camera_link"/>
    <child link="front_camera_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <link name="bin_frame"/>
  <joint name="cell_to_bin" type="fixed">
    <parent link="cell"/>
    <child link="bin_frame"/>
    <origin xyz="0.8 0 0" rpy="0 0 0"/>
  </joint>
</robot>
